# /etc/udev/rules.d/99-p3thermal.rules
# Allow non-root access to P3 thermal camera
SUBSYSTEM=="usb", ATTR{idVendor}=="3474", ATTR{idProduct}=="45a2", MODE="0666"
