# /etc/udev/rules.d/99-seek-thermal.rules
# Allow non-root access to Seek Thermal CompactPRO camera
SUBSYSTEM=="usb", ATTR{idVendor}=="289d", ATTR{idProduct}=="0011", MODE="0666"
